@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(30, 7, 85 ) 0%, #181868 35%, rgb(33, 24, 52) 100%);

  font-family: "Playfair Display", serif;
}
.caurosel-area{
  height: 65vh;
}